/* /this code is from the Holy Grail workshop in class/* */

 header {

  padding: 100px;
  border-bottom-style: solid;
  background-image: url("https://i.imgur.com/13m1TB1.jpg");
  background-size: 600px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: black;
  border-bottom-color: #990100;
  border-bottom-width: 2px; 
  box-sizing: border-box;
} 

body {
  
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
article {
  background-color: #ece2d0;
  padding: 50px;
  box-sizing: border-box;
}

.left {
  background-image: url("https://i.imgur.com/d0ygTPm.jpg");
  background-size: 300px;
  background-position: center;
  background-repeat: no-repeat;
  background-color: black;
  padding: 50px;
  box-sizing: border-box;
}
.right {
  background-image: url("https://i.imgur.com/YWVZhap.jpg");
  background-size: 300px;
  background-position: center;
  padding: 50px;
  box-sizing: border-box;
}

h1 {
  text-align: center;
  font-family:'Times New Roman', Times, serif; 
  font-size: 28px;
  text-align: center;
  color: black;


}
h2 {
  font-family:'Times New Roman', Times, serif;
  font-size: 24px;

}


input {
  padding: 8px;
  border-radius: 2px;
  border-radius: 14%;
  margin:5px;
}

img {
  height: 200px;
}
button {
  text-transform: uppercase;
  border: 1px solid black;
  color: white;
  padding: 8px;
  border-radius: 15px;
  background-color: #990100;
}

.search-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin: 10px;
  
}

.article-list {
display: flex;
flex-wrap: wrap; 
}
/* /* setting up colors & padding */


footer {
  background-color: #990100;
  padding: 50px;
  box-sizing: border-box;
}

header,
footer {
  flex: 0 100px;
}
main {
  display: flex;
  flex: 1;
}
article {
  order: 2;
  flex: 3;
}
aside {
  flex: 0 100px;
}
.left {
  order: 1;
}
.right {
  order: 3
}
@media screen and (max-width: 1025px) {
  main {
    flex-direction: column;
  }
  article {
    order: 0;
    flex: 1 200px;
  }
  aside {
    flex: 0;
  }
}